@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --main: #9DEFFF;
    --bg: #2E3440;
    --bg1: #3B4252;
    --fg: #4B566A;
    --fg1: #D8DEE9;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1{
    color: var(--fg1);
}
html{
    box-sizing: border-box;
}


.banner{
    height: 40vh;
    width: auto;
    /* parralax */
    background-attachment: fixed;
    align-self: center;
    background-image: url(../Static/banner.png);
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main{
    min-height: 70vh;
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-deck{
    padding: 2rem;
    display: grid;
    width: 114rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    align-items: center;
}

.card-item{
    background-color: var(--bg1);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0rem 0.1rem 1rem rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.2s;
}

.card-item:hover{
    box-shadow: 0rem 0.3rem 1rem rgba(0,0,0,0.8);
}

.card-img{
    margin-top: 1rem;
    display: block;
    width: 100%;
    height: 5rem;
    object-fit: cover;
}
.card-text{
    color: var(--fg1);
}

.card-details{
    color: var(--fg1);
    margin-top: 1rem;
}
.cardc{
    padding: 1rem;
}
.footer{
    height: 20vh;
    background-color: var(--bg);
}

.footer h1{
    color: var(--fg1);
}
