@import url("./global_fonts.css");

html{
    font-family: "Roboto"
}

a {
    color: #bcd9df;
}

a :active{
    color: #6b898f;
}

header{
    text-align: center;
    padding: 0.1em;
}

pre{
    border: 1px solid #b48ead;
    background-color: #2e3440;
    border-radius: 5px;
}

body{
    text-align: justify;
}

.head{
    font-size: 0.5em;
}

.headt{
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.md_viewer{
    margin-top: 3em;
    border-radius: 5px;
    /* background-color: #282a36;
    color: #f8f8f2; */
    text-align: justify;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
}

p{
    text-align: justify;
}

.contributors{
    border-radius: 5px;
    /* background-color: #282a36;
    color: #f8f8f2; */
    text-align: justify;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
}

blockquote{
    border-left: 3px solid #88c0d0;
    padding: 0 0 0 20px;
    font-style: italic;
    margin: 0;
}

body{
    word-wrap: break-word;
    /* line-height: 2em; */
    background-color: #3b4252;
    color: #eceff4;
}

h1{
    font-size: 2.5em;
    font-family: "Roboto Bold";
    text-align: center;
    margin: 1em;
    color: #88c0d0;
}

h2,
h3,
h4,
h5,
h6{
    font-family: "Roboto Medium";
    text-align: justify;
}

h2{
    font-size: 2em;
    /* font-family: "FiraSans-Black"; */
    margin: 0.3em;
    margin-left:auto;
    color: #81a1c1
}

h3{
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 2em;
    color: #8fbcbb;
    /* font-family: "FiraSans-ExtraBold"; */
}

h4,
h5,
h6{
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin: auto;
    font-size: 1.5em;
    color: #5e81ac;
    /* font-family: "FiraSans-Bold"; */
}

strong{
    font-size: 1em;
    /* font-family: "FiraSans-Medium"; */
}

pre code{
    background: #2e3440
}

code{
    font-family: "FiraCode";
}

/* code{
    font-family: "FiraCode";
    font-size: 0.75em;
    padding: 0.15em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  border-radius: 5px;
    /* background-color: rgb(27, 29, 39);
    color: #f8f8f2;
} */

@media only screen and (max-width: 1000px){

    h1{
        font-size: 2em;
        margin: 1em
        /* line-height: 90px; */
    }

    h2{
        font-size: 1.3em;
    }

    h3,
    h4,
    h5,
    h6{
        font-size: 1em;
    }

    h2,
    h3,
    h4,
    h5,
    h6{
        text-align: left;
        line-height: 100px;
    }

    .headt{
        text-align: center;
        font-size: 2em;
    }

    body{
        font-size: 2em;
        word-wrap:normal;
    }

    code{
        font-size: 0.9em;
    }

}
