@import url("global_fonts.css");
@import url("index.css");

:root{
    --main: #3b4252;
    --bg:  #4c566a;
    --main-fg: #eceff4;
    --fg: #e5e9f0;
    --fg1: #d8dee9;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    text-align: center;
}
h1{
    font-family: 'Lovelo';
    font-weight: 300;
    color: var(--main-fg);
}
html{
    box-sizing: border-box;
    font-family: "Rubik";
}

.card-deck{
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
    align-items: center;

}

.card-item{
    padding: 2rem;
    position: relative;
    background-color: var(--bg);
    height: 14rem;
    /* border-radius: 5px; */
    word-wrap: break-word;
    /* box-shadow: 0rem 0rem 0.3rem rgba(0,0,0,1); */
    cursor: pointer;
    transition: 0.2s;
}

.card-item:hover{
    /* box-shadow: 0rem 0rem 0.3rem rgba(0,0,0,1); */
    transform: translateY(-2.5%);
}

.card-img{
    margin-top: 1rem;
    display: block;
    width: 100%;
    height: 5rem;
    object-fit: cover;
}
.card-txt{
    color: var(--main-fg);
}

.card-details{
    color: var(--fg);
    margin-top: 1rem;
    font-family: "Rubik";
    font-weight: 300;
    text-align: justify;
}

.card-author{
    margin-top: 1em;
    position: absolute;
    bottom: 2em;
    left: 2em;
    color: var(--fg1) ;
}i

.cardc{
    padding: 1rem;
}

