@import url("nord.css");

@font-face {
    font-family: "RobotoThin";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoMed";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Medium.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "RobotoLight";
    background-color: #2e3440;
    background-size: cover;
    color: #b48ead;
    margin: 0px;
    padding-top: 2rem;
}

h1{
	font-family: 'Roboto-Medium';
}

h4{
    margin: 0.5em;
    font-family: 'Roboto';
}

h3{
    margin: 1em;
}

header{
    background-color: #1b1c27;
    z-index: 100;
    text-align: right;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    position: sticky;
    top: 0px;
}

.articles_intro{
    margin: 1em;
    color:#9DEFFF;

    /* display: grid;
    gap: 2rem; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(10em, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-auto-rows: minmax(15em, 1fr); */
}
a {
    color: #eceff4;
    text-decoration:none;
}

a:hover{
    color: #bf616a;
    text-decoration: none;
}

a:active{
    color: #d8dee9;
}

.nav-a {
    color: #eceff4;
    text-decoration:none;
}

.nav-a {
    color: #bf616a;
    text-decoration: none;
}

.nav-a {
    color: #d8dee9;
}


/* .article_box{
    background-color: #26283d81;
    padding: 2em;
    padding-top: 1em;
    transition: all 400ms;
    text-align: center;
    box-shadow: 5px 7px #0c0d1379;
}

.article_box:hover{
    box-shadow: 2px 4px #0c0d13bb;
} */

.navbar{
    margin-left: 1em
}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 60px;
	background-color: #4c566a;
	margin-bottom: 1em;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #e4ecf7;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0;
	font-size: 16px;
	color: #eceff4;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -50px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #e4ecf7;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

.logo-img{
	width: 50px;
	height: 60px;
}

li a:hover{
    color: #bf616a;
    text-decoration: none;
}

/* .head{
    /* font-family: "Roboto";
    text-align: center;
    font-size: 1rem;
    width: fit-content;
    padding: 0;
    min-width: 90vw;
    margin: 0;
} */


@media only screen and (max-width: 1000px){
/* 
    .articles_intro{
        grid-template-columns: auto;
        grid-auto-rows:auto;
    } */

    img{
        height: 25em;
        width: 25em;
    }

    h4{
        font-size: 3em;
    }

    h3{
        font-size: 3rem;
    }

/* 
    .head{
        font-size: 3rem;
    } */
}

@media only screen and (max-width: 1000px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 50px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
