@font-face {
    font-family: "RobotoThin";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoMed";
    src: url("https://engrafa.github.io/Fonts/Roboto/Roboto-Medium.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "RobotoLight";
    background-color: #1B1D27;
    color: #9DEFFF;
    margin: 0px;
    padding: 0px;
}

h4{
    margin: 0.5em;
    font-family: 'Roboto';
}

h3{
    margin: 1em;
}

header{
    background-color: #1b1c27c7;
	z-index: 100;
	text-align: right;
	padding-right: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
	position: sticky;
	top: 0px;
}

.articles_intro{
    margin: 1em;
    display: grid;
    gap: 2rem;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(10em, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-auto-rows: minmax(15em, 1fr);
}

.article_box{
    background-color: #26283d81;
    padding: 2em 2em 2em 2em;
    padding-top: 1em;
    transition: all 400ms;
    text-align: center;
    box-shadow: 5px 7px #0c0d1379;
}

.article_box:hover{
    box-shadow: 2px 4px #0c0d13bb;
}

.head{
    font-family: "Roboto";
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 1000px){

    .articles_intro{
        grid-template-columns: auto;
        grid-auto-rows:auto;
    }

    img{
        height: 25em;
        width: 25em;
    }

    h4{
        font-size: 3em;
    }

    h3{
        font-size: 3rem;
    }

    .head{
        font-size: 3rem;
    }
}